/* Always set the map height explicitly to define the size of the div      
* element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.bg-lightopa{
  background:rgba(255,255,255,0.55);    
}
#mapLegend {
  width:188px;
  height:260px;    
}
#time,#nav{
  font-size:16px;   
}
ul{
  margin:0 auto;
}
li{
  list-style:none;
  font-size:14px;
}
li:nth-child(1){
  font-size:16px;
  padding:5px 0;
}


